 <div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">
    
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="firstName">Full Name</label>
      <input formControlName="fullName" id="fullName" type="text" class="form-control" placeholder="Full name" />
    </div>
    
   
    <button type="button" class="btn btn-primary" (click)="goBack()">Cancel</button>
     <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
      
  </div>
</div>
